* {
  margin: 0;
}

header {
  height: 200px;
  background-image: url("../images/header-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  background-blend-mode: screen;
}

.page-title {
  text-align: center;
  padding-top: 80px;
  font-family: sans-serif;
  text-decoration: underline dotted steelblue;
}

.blog {
  background-color: lightblue;
  border: 2px solid steelblue;
  margin: 25px 50px;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 5px 5px 10px lightblue;
}
