ul {
  margin-bottom: 50px;
}

li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-right: 10px;
  display: inline;
  color: dodgerblue;
}
