* {
  margin: 20px;
}

.text-green{
  color: green;
}

h1, p, li{
  color: brown;
  font-family: sans-serif;

}

h1{
  font-size: 30px;
  text-align: center;
  text-decoration: underline dashed goldenrod;
}

p{
  text-align: center;
  font-style: italic;
}

#bg-aquamarine{
  background-color: aquamarine;
}

.padding-10{
  padding: 10px;
}