* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: aquamarine;
  background-image: url(../images/emoji.jpg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: right bottom;

  height: 200px;
  padding: 10px 20px;
  margin: 20px;
  border: 10px solid tomato;
  border-radius: 5px;
}