div {
  background-color: lightgoldenrodyellow;
  width: 50%;
  padding: 10px;
  box-shadow: 5px 5px 20px rgba(255, 217, 0, 0.455);
  border-radius: 25px;
  border: 5px solid gold;
}

div img {
  width: 100%;
}